<!-- todo_list/todo_app/templates/todo_app/index.html -->

{% extends "test/base.html" %}
{% block content %}
<!--index.html-->
{% if object_list %}
<div class="content">
    <h3 class="title is-3">All my lists</h3>
</div>   
{% endif %}
<div class="content">
    <ul>
        {% for todolist in object_list %} 
        <li class="flex-container">
            <div
                role="button"
                class="button is-white is-dark"
                onclick="location.href='{% url "test:list" todolist.id %}'">
                <div class="flex-container">
                    <div >
                        {{ todolist.title }}
                    </div>

                    <div >
                        {% for number in number_of_items %}
                            {% if number.id == todolist.id %}
                                ({{number.todoitem__count}})
                            {% endif%}
            
                        {% endfor %}
                    </div>
                </div>
            </div>

        </li>
        {% empty %}
        <h4>You have no lists!</h4>
        {% endfor %} 
    </ul>
</div>
<p>
    <input 
    class="button is-primary is-outlined"
        value="Add a new list"
        type="button"
        onclick="location.href='{% url "test:list-add" %}'"/>
</p>
{% endblock %}