
<!-- todo_list/todo_app/templates/todo_app/todolist_form.html -->
{% extends "test/base.html" %}

{% block content %}

<h3 class="title is-3">{{ title }}</h3>
<div>
    <div class="content">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input
                value="Save"
                type="submit"
                class="button is-primary is-dark is-outlined"
                onclick="location.href='{% url "test:index" %}';">
            <input
                value="Cancel"
                type="button"
                class="button is-primary is-dark is-outlined"
                onclick="location.href='{% url "test:index" %}';">
        </form>
    </div>
</div>

{% endblock %}